.section-header {
    padding-bottom: 40px;
  }
  
  .search-input {
    background-color:black;
    color: white;
  
  }
  .section-header h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--font-primary);
  }
  
  .section-header h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
  }

  /* Ajusta o tamanho do carrossel */
  .carousel {
      width: 1900px; /* Largura desejada */
      height: 450px; /* Altura desejada */
      margin: 0 auto; /* Centraliza o carrossel */
      overflow: hidden; /* Esconde o conteúdo que ultrapassa o tamanho */
  }
  
  /* Ajusta o tamanho dos itens do carrossel */
  .carousel-item {
      width: 300px; /* Largura dos itens */
      height: 2000px; /* Altura dos itens */
  }
  
  /* Adiciona uma animação de transição suave */
  .carousel-inner {
      transition: transform 0.5s ease;
  }
  
  /* Ajusta a largura das imagens dentro dos itens do carrossel */
  .carousel-item img {
      width: 150%; /* Ajusta a largura da imagem para preencher o item do carrossel */
      height: 550px; /* Ajusta a altura da imagem para preencher o item do carrossel */
      object-fit: cover; /* Faz com que a imagem cubra todo o espaço do item do carrossel */
  }