{% extends 'base3.html' %}
{% load static %}
{% load widget_tweaks %}
{% block 'page' %}
	<div class="sidebar-overlay"></div>


	<!--Content Start-->
<h1>Álbum</h1>

		<div class="Container">
					<h2>Preencher Informações do Álbum</h2>
					{% if messages %}
					<br>
					{% for message in messages%}
					<div class="alert {{message.tags}}">{{message}}</div>
					{% endfor%}
					{% endif %}
					<form action="{% url 'galeria' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<br>
						<div class="form-group">
							<label>Imagens:</label>
							<input class="form-control" type="file" name="imagens" multiple>
						</div>
						<br>
						<br>
						<div class="form-group">
							<label>Nome:</label>
							<input class="form-control" type="text" name="Nome_Album">
						</div>
						<br>
						<br>
						<div class="form-group">
							<label>Selecione a categoria da foto</label>
							<select class="form-control" name="categoria">
								{% for categoria in categorias %}
								<option value="{{categoria.id}}">{{categoria.titulo}}</option>
								{% endfor %}
		
							</select>
						</div>
		
				</div>
				<div class="form-group">
					<input type="submit" class="btn" value="Salvar Album">
				</div>
				</form>
		</div>
		</div>
		
		</div><!-- End Container-->
		</div><!-- End Content-->



{% endblock 'page' %}