{% extends 'base3.html' %}
{% load static %}
{% load widget_tweaks %}
{% block 'page' %}

			<div class="container">
			
				<button class="btn" onclick="toggleForm()">Criar Álbum</button>
		
				<div id="albumForm" class="form-container" style="display: none;">
					<h2>Criar Novo Álbum</h2>
					<form action="{% url 'salvar-album' %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label for="nome">Nome do Álbum:</label>
							<input type="text" id="nome" name="nome" class="input-text" required>
						</div>
						<div class="form-group">
							<label for="fotos">Upload de Fotos:</label>
							<input type="file" id="fotos" name="fotos" class="input-file" multiple required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn">Salvar Álbum</button>
						</div>
					</form>
				</div>
			</div>
			<script>
				function toggleForm() {
					var form = document.getElementById("albumForm");
					if (form.style.display === "none") {
						form.style.display = "block";
					} else {
						form.style.display = "none";
					}
				}
			</script>
							
			
						</div><!--Box Galeria-->
			
			
					<div class="clear"></div>
					</div>
				</section><!--FECHA BOX HTML-->
			
			
			</main>
			
            
             
		 
            	
        </div><!-- End Container-->
    </div><!-- End Content-->
{% endblock 'page' %}