{% extends 'base3.html' %}
{% load static %}
{% load widget_tweaks %}
{% block 'page' %}

	<div class="content-header">
    <h4>Olá, {{ user_profile.first_name }}</h4>
    <p>Altere informações sobre você nesta página</p>
	</div>


	<div class="row">

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <i class="fas fa-inbox icon-home bg-primary text-light"></i>
                    </div>
                    <div class="col-8">
                        <p>Saldo</p>
                        <h5>$65</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <i class="fas fa-clipboard-list icon-home bg-success text-light"></i>
                    </div>
                    <div class="col-8">
                        <p>Pedidos</p>
                        <h5>3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <i class="fas fa-chart-bar  icon-home bg-info text-light"></i>
                    </div>
                    <div class="col-8">
                        <p>Vendas</p>
                        <h5>5500</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <i class="fas fa-id-card  icon-home bg-warning text-light"></i>
                    </div>
                    <div class="col-8">
                        <p>Clientes</p>
                        <h5>256</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div id="columnchart"></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Mensagens recentes</h4>
            </div>
            <div class="card-body pb-4">
                <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                        <img src="{% static 'img/message/4.jpg' %}">
                    </div>
                    <div class="name ms-4">
                        <h5 class="mb-1">Hank Schrader</h5>
                        <h6 class="text-muted mb-0">@johnducky</h6>
                    </div>
                </div>
                <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                        <img src="{% static 'img/message/5.jpg' %}">
                    </div>
                    <div class="name ms-4">
                        <h5 class="mb-1">Dean Winchester</h5>
                        <h6 class="text-muted mb-0">@imdean</h6>
                    </div>
                </div>
                <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                        <img src="{% static 'img/message/1.jpg' %}">
                    </div>
                    <div class="name ms-4">
                        <h5 class="mb-1">John Doe</h5>
                        <h6 class="text-muted mb-0">@Doejohn</h6>
                    </div>
                </div>
                <div class="px-4">
                    <button class='btn btn-block btn-xl btn-primary font-bold mt-3'>Iniciar
                        Conversas</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Transação mais recente</h4>
            </div>
            <div class="card-body"> 
            <div class="table-responsive"> 
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID do pedido</th>
                    <th scope="col">Nome de faturamento</th>
                    <th scope="col">Data</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status do pagamento</th>
                    <th scope="col">Método de pagamento</th>
                    <th scope="col">Mais detalhes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">#SK2548	</th>
                    <td>Neal Matthews</td>
                    <td>07 Outubro, 2024</td>
                    <td>$400</td>
                    <td><span class="text-success">	Pago por</span></td>
                    <td>Mastercard</td>
                    <td><button class="btn btn-primary">Mais detalhes</button></td>
                  </tr>

                  <tr>
                    <th scope="row">#SK2548	</th>
                    <td>Neal Matthews</td>
                    <td>07 Outubro, 2024</td>
                    <td>$400</td>
                    <td><span class="text-success">	Pago por</span></td>
                    <td>Visa</td>
                    <td><button class="btn btn-primary">Mais detalhes</button></td>
                  </tr>

                  <tr>
                    <th scope="row">#SK2548	</th>
                    <td>Neal Matthews</td>
                    <td>07 Outubro, 2024</td>
                    <td>$400</td>
                    <td><span class="text-danger">Estorno</span></td>
                    <td>Paypal</td>
                    <td><button class="btn btn-primary">Mais detalhes</button></td>
                  </tr>

                  <tr>
                    <th scope="row">#SK2548	</th>
                    <td>Neal Matthews</td>
                    <td>07 Outubro, 2024</td>
                    <td>$400</td>
                    <td><span class="text-warning">Reembolso</span></td>
                    <td>Visa</td>
                    <td><button class="btn btn-primary">Mais detalhes</button></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>

</div>
{% endblock 'page' %}