{% extends 'base3.html' %}
{% load static %}
{% load widget_tweaks %}
{% block 'page' %}

			<div class="content-header">
				<h4>Olá, {{ user_profile.first_name }}</h4>
				<p>Altere informações sobre você nesta página</p>
			</div>
		  
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <!-- Imagem de Perfil -->
                            <div class="me-3">
                                {% if user_profile.profile_image %}
								<img src="{{ user_profile.profile_image.url }}" alt="User Profile Image" class="d-block" height="100" width="100" id="uploadedAvatar" style="border-radius: 50%;" />
                                {% else %}
                                    <img src="{% static 'default-profile-image.jpg' %}" alt="Default Profile Image" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                                {% endif %}
                            </div>

                            <!-- Campo de Upload de Imagem -->
                            <div class="flex-grow-1">
                                <form method="POST" enctype="multipart/form-data" action="{% url 'my_profile' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="{{ form.profile_image.id_for_label }}" class="form-label">Imagem de Perfil</label>
                                        {{ form.profile_image|add_class:"form-control" }}

                                    </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- Formulário para atualizar o perfil -->
                        <form method="POST" enctype="multipart/form-data" action="{% url 'my_profile' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Primeiro nome</label>
                                    {{ form.first_name|add_class:"form-control" }}
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Sobrenome</label>
                                    {{ form.last_name|add_class:"form-control" }}
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
                                    {{ form.email|add_class:"form-control" }}
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.organization.id_for_label }}" class="form-label">Organização</label>
                                    {{ form.organization|add_class:"form-control" }}
                                </div>



                                <div class="mt-2">
                                    <button type="submit" class="btn btn-primary me-2">Salvar alterações</button>
                                    <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

				

                    <div class="card">
                        <h5 class="card-header">Deletar conta</h5>
                        <div class="card-body">
                          <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                              <h6 class="alert-heading fw-bold mb-1">Tem certeza de que deseja excluir sua conta?</h6>
                              <p class="mb-0">Depois de excluir sua conta, não há como voltar atrás. Por favor, tenha certeza..</p>
                            </div>
                          </div>
                          <form  method="POST" accept="my-profile.html"> 
                            <div class="form-check mb-3">
                              <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                              <label class="form-check-label" for="accountActivation">Confirmo a desativação da minha conta</label>
                            </div>
                            <button type="submit" class="btn btn-danger deactivate-account">Desativar conta</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock 'page' %}