{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

<!doctype html>

{% block 'cabecalho' %}

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{% static 'modules/bootstrap-5.1.3/css/bootstrap.css' %}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="{% static 'modules/fontawesome6.1.1/css/all.css' %}">
	<!-- Boxicons CSS-->
	<link rel="stylesheet" href="{% static 'modules/boxicons/css/boxicons.min.css' %}">
{% endblock %} 

{% block 'conteudo' %}
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			<ul>
				<li class="nav-item dropdown dropdown-list-toggle">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">4</span>
					</a> 				 
					<div class="dropdown-menu dropdown-list">
						<div class="dropdown-header">Notifications</div>
						<div class="dropdown-list-content dropdown-list-icons">
							<div class="custome-list-notif"> 
							<a href="#" class="dropdown-item dropdown-item-unread">
								<div class="dropdown-item-icon bg-primary text-white">
								  <i class="fas fa-code"></i>
								</div>
								<div class="dropdown-item-desc">
									The Atrana template has the latest update!
								  <div class="time text-primary">3 Min Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="far fa-user"></i>
								</div>
								<div class="dropdown-item-desc">
								   Sri asks you for friendship!
								  <div class="time">12 Hours Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-danger text-white">
								  <i class="fas fa-check"></i>
								</div>
								<div class="dropdown-item-desc">
									Storage has been cleared, now you can get back to work!
								  <div class="time">20 Hours Ago</div>
								</div>
							  </a>

						  
							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="fas fa-bell"></i>
								</div>
								<div class="dropdown-item-desc">
								    Welcome to Atrana Template, I hope you enjoy using this template!
								  <div class="time">Yesterday</div>
								</div>
							  </a>
 
							</div>
						</div>

						<div class="dropdown-footer text-center">
						  <a href="#">View All</a>
						</div>

					  
				  </li>
			 
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{% if user_profile.profile_image %}
						<img src="{{ user_profile.profile_image.url }}" alt="User Profile Image" class="d-block rounded" height="100" width="100px" id="uploadedAvatar" />
					 {% else %}
					   <img src="{% static 'default-profile-image.jpg' %}" alt="Default Profile Image" class="d-block rounded" height="100" width="100px" id="uploadedAvatar" />
						{% endif %}
					</a>	
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'my_profile' %}"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
						<a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>

	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
        <div class="sidebar-content"> 
        	<div id="sidebar">
			
			
            <ul class="side-menu">
                <li>
					<a href="{% url 'index' %}">
						<i class='bx bxs-dashboard icon' ></i>Inicio
                    </a>
					<a href="{% url 'inicio' %}">
						<i class='bx bxs-dashboard icon' ></i> Dashboard
						<a href="{% url 'my_profile' %}">
							<i class='bx bxs-dashboard icon' ></i> Meu Perfil
					</a>
				</li>

				<!-- Divider-->
                <li class="divider" data-text="STARTER">GALERIA</li>

				<li>
					<a href="{% url 'páginas-em-branco'%}">
						<i class='bx bxs-dashboard icon' ></i> Álbum
					</a>
				</li>

               

				

				<!-- Divider-->
				<li class="divider" data-text="Pages">CONFIGURAÇÕES</li>

				<li>
                    <a href="#">
						<i class='bx bxs-user icon' ></i> 
						Autenticação 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'redefinir-senha'%}">Redefinir senha</a></li>
                    </ul>
                </li>
				<div class="ads">
					<div class="wrapper">
						<div class="help-icon"><i class="fa fa-circle-question fa-3x"></i></div>
						<p>Contate-nos <strong>Whatsapp</strong>?</p>
						<a href="docs/" class="btn-upgrade">Clique Aqui</a>
					 </div>
				</div>
			</div>
	

       </div> 
	 </div>
	</div><!-- End Sidebar-->


	<div class="sidebar-overlay"></div>


	<!--Content Start-->
	<div class="content-start transition">
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h4>Olá,{{ user.username }}</h4>
				<p>Altere informações sobre você nesta página</p>
			</div>
		  
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center  ">
                            {% if user_profile.profile_image %}
                            <img src="{{ user_profile.profile_image.url }}" alt="User Profile Image" class="d-block rounded" height="100" width="100px" id="uploadedAvatar" />
                         {% else %}
                           <img src="{% static 'default-profile-image.jpg' %}" alt="Default Profile Image" class="d-block rounded" height="100" width="100px" id="uploadedAvatar" />
                            {% endif %}
                            <div class="button-wrapper">

                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                              </label>
                              <p class="text-muted mb-0">JPG, GIF ou PNG permitidos. Tamanho máximo de 800K</p>
							  <div class="mb-3 col-md-6">
								<label for="profile_image" class="form-label">Imagem de Perfil</label>
								{{ form.profile_image }}
							</div>	
                            </div>
                        </div>
                    </div>
                    
					<div class="card-body"> 
						<form method="POST" enctype="multipart/form-data" action="{% url 'my_profile' %}">
							{% csrf_token %}
							<div class="row">
								<div class="mb-3 col-md-6">
									<label for="{{ form.first_name.id_for_label }}" class="form-label">Primeiro nome</label>
									{{ form.first_name|add_class:"form-control" }}
								</div>
					
								<div class="mb-3 col-md-6">
									<label for="{{form.last_name.id_for_label}}" class="form-label">Sobrenome</label>
									{{ form.last_name|add_class:"form-control" }}
								</div>
					
								<div class="mb-3 col-md-6">
									<label for="email" class="form-label">E-mail</label>
									{{ form.email|add_class:"form-control" }}
								</div>
					
								<div class="mb-3 col-md-6">
									<label for="organization" class="form-label">Organização</label>
									{{ form.organization|add_class:"form-control" }}
								</div>
					

					
								<div class="mt-2">
									<button type="submit" class="btn btn-primary me-2">Salvar alterações</button>
									<button type="reset" class="btn btn-outline-secondary">Cancelar</button>
								</div>
							</div>
						</form>
					</div>
					
						</div>
					</div>
				

                    <div class="card">
                        <h5 class="card-header">Deletar conta</h5>
                        <div class="card-body">
                          <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                              <h6 class="alert-heading fw-bold mb-1">Tem certeza de que deseja excluir sua conta?</h6>
                              <p class="mb-0">Depois de excluir sua conta, não há como voltar atrás. Por favor, tenha certeza..</p>
                            </div>
                          </div>
                          <form  method="POST" accept="my-profile.html"> 
                            <div class="form-check mb-3">
                              <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                              <label class="form-check-label" for="accountActivation">Confirmo a desativação da minha conta</label>
                            </div>
                            <button type="submit" class="btn btn-danger deactivate-account">Desativar conta</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>


		</div> <!-- End Container -->
	</div><!-- End Content -->


	<!-- Footer -->				
	<footer>
		<div class="footer">
			<div class="float-start">
				<p>2022 &copy; Atrana</p>
			</div>
				<div class="float-end">
					<p>Crafted with 
						<span class="text-danger">
							<i class="fa fa-heart"></i> by 
							<a href="https://www.facebook.com/andreew.co.id/" class="author-footer">Andre Tri Ramadana</a>
						</span> 
					</p>
			</div>
		</div>
	</footer>


	<!-- Preloader -->
	<div class="loader">
		<div class="spinner-border text-light" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	
	<!-- Loader -->
	<div class="loader-overlay"></div>

	<!-- General JS Scripts -->
	<script src="{% static 'js/atrana.js' %}"></script>

	<!-- JS Libraies -->
	<script src="{% static 'modules/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'modules/bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'modules/popper/popper.min.js' %}"></script>
 
    <!-- Template JS File -->
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

	
{% endblock 'conteudo' %}