{% extends 'base.html'%}
{% load static %}
<!doctype html>

{% block 'cabecalho' %}


	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{% static 'modules/bootstrap-5.1.3/css/bootstrap.css' %}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="{% static 'modules/fontawesome6.1.1/css/all.css' %}">
	<!-- Boxicons CSS-->
	<link rel="stylesheet" href="{% static 'modules/boxicons/css/boxicons.min.css' %}">


	<link rel="stylesheet" type="text/css" href="{% static 'galeria/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'galeria/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/fonts-icones.css' %}">
{% endblock %} 

{% block 'conteudo' %}
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			<ul>
				<li class="nav-item dropdown dropdown-list-toggle">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">4</span>
					</a> 				 
					<div class="dropdown-menu dropdown-list">
						<div class="dropdown-header">Notifications</div>
						<div class="dropdown-list-content dropdown-list-icons">
							<div class="custome-list-notif"> 
							<a href="#" class="dropdown-item dropdown-item-unread">
								<div class="dropdown-item-icon bg-primary text-white">
								  <i class="fas fa-code"></i>
								</div>
								<div class="dropdown-item-desc">
									The Atrana template has the latest update!
								  <div class="time text-primary">3 Min Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="far fa-user"></i>
								</div>
								<div class="dropdown-item-desc">
								   Sri asks you for friendship!
								  <div class="time">12 Hours Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-danger text-white">
								  <i class="fas fa-check"></i>
								</div>
								<div class="dropdown-item-desc">
									Storage has been cleared, now you can get back to work!
								  <div class="time">20 Hours Ago</div>
								</div>
							  </a>

						  
							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="fas fa-bell"></i>
								</div>
								<div class="dropdown-item-desc">
								    Welcome to Atrana Template, I hope you enjoy using this template!
								  <div class="time">Yesterday</div>
								</div>
							  </a>
 
							</div>
						</div>

						<div class="dropdown-footer text-center">
						  <a href="#">View All</a>
						</div>

					  
				  </li>
			 
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <img src="{% static 'images/avatar/avatar-1.png' %}" alt="">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="my-profile.html"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
						<a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>


	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
        <div class="sidebar-content"> 
        	<div id="sidebar">
			

            <ul class="side-menu">
                <li>
					<a href="{% url 'index' %}">
						<i class='bx bxs-dashboard icon' ></i>Inicio
                    </a>
					<a href="{% url 'inicio' %}">
						<i class='bx bxs-dashboard icon' ></i> Dashboard
						<a href="{% url 'my_profile' %}">
							<i class='bx bxs-dashboard icon' ></i> Meu Perfil
					</a>
				</li>

				<!-- Divider-->
                <li class="divider" data-text="STARTER">GALERIA</li>

				<li>
					<a href="{% url 'páginas-em-branco'%}">
						<i class='bx bxs-dashboard icon' ></i> Álbum
					</a>
				</li>

                
                

				<!-- Divider-->
				<li class="divider" data-text="Pages">Pages</li>

				<li>
                    <a href="#">
						<i class='bx bxs-user icon' ></i> 
						Autenticação 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'redefinir-senha'%}">Redefinir senha</a></li>
                    </ul>
                </li>
            </ul>

            <div class="ads">
				<div class="wrapper">
					<div class="help-icon"><i class="fa fa-circle-question fa-3x"></i></div>
					<p>Contate-nos <strong>Whatsapp</strong>?</p>
                    <a href="docs/" class="btn-upgrade">Clique Aqui</a>
                 </div>
            </div>
        </div>

       </div> 
	 </div>
	</div><!-- End Sidebar-->


	<div class="sidebar-overlay"></div>


	<!--Content Start-->
	<div class="content-start transition  "> 
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h1>Álbum</h1>
			</div>
			
			
			<main class="main_content container">
			
					
				<section class="section-seu-codigo container">
					
					<div class="content">
						
						<h1 class="section_title"><i class="icon icon-photo"> </i> Galeria de Fotos</h1>
						
						<div class="box-galeria">
								
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto1.jpg' %}" rel="shadowbox[vocation]" title="Foto 1">
									<img src="{% static 'galeria/uploads/foto1.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto2.jpg' %}" rel="shadowbox[vocation]" title="Foto 2">
									<img src="{% static 'galeria/uploads/foto2.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto3.jpg' %}" rel="shadowbox[vocation]" title="Foto 3">
									<img src="{% static 'galeria/uploads/foto3.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto4.jpg' %}" rel="shadowbox[vocation]" title="Foto 4">
									<img src="{% static 'galeria/uploads/foto4.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto5.jpg' %}" rel="shadowbox[vocation]" title="Foto 5">
									<img src="{% static 'galeria/uploads/foto5.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto6.jpg' %}" rel="shadowbox[vocation]" title="Foto 6">
									<img src="{% static 'galeria/uploads/foto6.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto7.jpg' %}" rel="shadowbox[vocation]" title="Foto 7">
									<img src="{% static 'galeria/uploads/foto7.jpg' %}">
								</a>
							</div>
			
							<div class="box-foto">
								<a href="{% static 'galeria/uploads/foto8.jpg' %}" rel="shadowbox[vocation]" title="Foto 8">
									<img src="{% static 'galeria/uploads/foto8.jpg' %}">
								</a>
							</div>
			
						</div><!--Box Galeria-->
			
			
					<div class="clear"></div>
					</div>
				</section><!--FECHA BOX HTML-->
			
			
			</main>
			
            
             
		 
            	
        </div><!-- End Container-->
    </div><!-- End Content-->

	<!-- Footer -->				
	<footer>
		<div class="footer">
			<div class="float-start">
				<p>2022 &copy; Atrana</p>
			</div>
				<div class="float-end">
					<p>Crafted with 
						<span class="text-danger">
							<i class="fa fa-heart"></i> by 
							<a href="https://www.facebook.com/andreew.co.id/" class="author-footer">Andre Tri Ramadana</a>
						</span> 
					</p>
			</div>
		</div>
	</footer>


	<!-- Preloader -->
	<div class="loader">
		<div class="spinner-border text-light" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	
	<!-- Loader -->
	<div class="loader-overlay"></div>

	<!-- General JS Scripts -->
	<script src="{% static 'js/atrana.js' %}"></script>

	<!-- JS Libraies -->
	<script src="{% static 'modules/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'modules/bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'modules/popper/popper.min.js' %}"></script>
	
    <!-- Template JS File -->
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

<!--Aba galeria-->
<script src="{% static 'galeria/js/jquery.js' %}"></script>
<script src="{% static 'galeria/js/script.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'galeria/js/shadowbox/shadowbox.css' %}" />
<script src="{% static 'galeria/js/shadowbox/shadowbox.js' %}"></script>
<script src="{% static 'galeria/js/shadowbox/script.shadowbox.js' %}"></script>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


	{% endblock 'conteudo' %}