/* login-box.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.bg1 {
    background-image: url('/static/img/fundo.jpg') !important;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.box-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisor {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(162, 219, 236), transparent);
    display: block;
    width: 100%;
}

.tac {
    text-align: center;
}

.box-form {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fundo transparente */
    color: black !important;
    width: 450px; /* Largura da caixa de login */
    text-align: center; /* texto */
}

.box-circle {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.c1 {
    background-color: #3E79EB;
}

.c2 {
    background-color: #29BFC9;
}

.c3 {
    background-color: #D98562;
}

.input-form {
    background-color: #0b1526;
    padding: 10px;
    border: none;
    border: 1px solid rgba(88, 252, 213, .4);
    color: white;
    outline: 0;
    width: 100%;
}

.btn-cadastro {
    padding: 10px;
    background-color: #FF0000; /* Botão de envio vermelho */
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
